@import url('https://fonts.googleapis.com/css?family=Poor+Story:100,200,300,400,500,600,700|anton:100,200,300,400,500,600,700');

/*------------------------colors-----------*/


header {
    margin: 0;
}

/*---------------------logo 1-------------*/
.logo2 {
    max-height: 100%;
    min-height: 100%;
    margin-left: 70px;
    margin-top: 0px;
    background:url(/assets/images/blink182logo5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ffffff;
    transition: .5 ease-in-out;
    -moz-transition: .5 ease-in-out;
    -webkit-transition: .5 ease-in-out;
}

/*-----------------------------logo 2----------*/

.title {
    margin-left: 10px;
    background: url("/assets/images/blink182logo4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ffffff;
    min-height: 360px;
    transition: .5 ease-in-out;
    -moz-transition: .5 ease-in-out;
    -webkit-transition: .5 ease-in-out;
}


/*---------------------nav bar--------------*/
#nav a:link,
#nav a:visited {
	color:#444441;
    background: radial-gradient(#6384eb, #ffffff);
	padding: 20px 40px 20px 30px;
	width:auto;

}

ul > li{
    display: inline;
    padding: 20px;
    text-decoration: none;
}

h3 {
     font-family:  'Poor Story', cursive;
     font-size: 50px;
     padding-top: 10px;
}

.uppercase {
    font-family:  'Poor Story', cursive;
     font-size: 30px;
     padding-top: 10px;
}


.menuitem {
    margin: 70px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: inherit;
    position: relative;
    background-color: #ffffff;
    text-align: center;
    border-color: #ffffff;
	font:bold 20px Arial, sans-serif;
	text-transform:uppercase;
	text-shadow: 2px 2px 2px #555;
}

.mainmenu:last-child { margin-right: 0; }

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
    border-style: solid;
    border-color: #ffffff; 
    border-radius: 20px;
}



.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}




section {
    background: linear-gradient(#cccceb, #f1da96);
    padding: 0;
    border-color: #000000;
    border-width: thick;
}

.box1 {
    display: inline;
    border-style: solid;
    border-color: #000000;
}




/*------------------------colors*/

.bg-color-upcoming-tour {
    background: linear-gradient(#cccceb, #f1da96);
}
    
footer {
    background-color: #ffffff;
    color: #000000;
    font-size: smaller;
    min-height: 100px;
    margin: 0;
    padding-top: 0%;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 52px;
    height: 52px;
    margin-right: 20px;
    padding: 22px 0;
    border-radius: 50%;
    font-size: 30px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #a58710;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #6bedf3;
}

#footer-details {
    margin: 20px;
}




    






