@import url('https://fonts.googleapis.com/css?family=Poor+Story:100,200,300,400,500,600,700|anton:100,200,300,400,500,600,700');




header {
    margin:0px;
    padding: 0;
}

body {
    width: 100%;
    background:white;
   
}

/*-----------------------------logo----------*/

.title-logo{
   height: 300px;
   min-width: 25%;
   float: left;
}
.title-logo#logo{
    background:url(/assets/images/blink182logo5.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 25%;
    transition: all .5s ease-in-out;
   -moz-transition: all .5s ease-in-out;
   -webkit-transition: all .5s ease-in-out;
    
    
}

.title-logo#title{
    background:url(/assets/images/blink182logo4.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 75%;
    transition: all .5s ease-in-out;
   -moz-transition: all .5s ease-in-out;
   -webkit-transition: all .5s ease-in-out;
   
  
}

/*---------------------nav bar--------------*/



header a {
    color: lightblue;
     font-family: 'poor story', cursive;
     font-size: 20px;
     font-weight: bold;
     text-align: center;
}

.active {
    color: white;
}

a:hover {
  color: white;
 
}



/*----------------------------------------------section*/

.main-section{
    height: 100%;
}

.event-list {
    float: left;
    background-image: url(/assets/images/blink182logo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .3;
    position: relative;
    min-width: 25%;
}


.title{
     text-align: center;
    
      z-index: 99999;
}
 h3{
    color: gold;
    padding-left: 20px;
    font-family: 'poor story', cursive;
    font-size: 50px;
    font-weight: bold;
   
}

p {
    
    color:gold;
    font-size: x-large;
    font-family: 'poor story', cursive;
    
}
.main-video{
    float: left;
}

.social-links{
    float: left;
}

.list-block {
    position: absolute;
    margin: auto;
    text-align: center;
}

ul{
    list-style-type: none;
    text-align: center;
    padding-left: 70px;
   
    
}


.social-links  a i {
    
    margin-top: 30px;
    margin-bottom: 60px;
    width: 52px;
    height: 52px;
    padding-top: 22px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #a58710;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #6bedf3;
}
 
 
 /*---------------------------------gallery section*/
    

.image1{
    background:url(/assets/images/blink182gallery1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.image2{
    background:url(/assets/images/blink182gallery2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
  }

.image3 {
     background:url(/assets/images/blink182gallery3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
}

.image4{
     background:url(/assets/images/blink182gallery4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
}

.image5{
     background:url(/assets/images/blink182gallery5.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
}

.image6{
     background:url(/assets/images/blink182gallery6.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
}
    




/*-------------------footer*/

 footer navbar{
     background-color: white;
     border-top: solid black 3px;
 }


h5 {
     font-family:  'Poor Story', cursive;
     font-size: 30px;
     color: white;
}

footer p {
     font-family:  'Poor Story', cursive;
     font-size: 10px;
     color: white;
}


    


    


    
   
    




    






